/* цвет основного текста #212121*/

/* цвет вторичного текста #757575*/

/*#2196F3 акцент синий*/

/*#FFFFFF белый*/

/* вторичный цвет фона #F5F4FA */

/* футер копирайт rgba(255, 255, 255, 0.4); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* утилиты */

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */

.header-flex {
  display: flex;
  align-items: center;
}

/* навигация  */

.site-nav {
  display: flex;
  align-items: center;
}

/* лого */

.logo {
  padding: 24px 0px;
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

/* главная навигация  */

.main-nav {
  display: flex;
  margin-left: 86px;
}

.main-nav .link {
  position: relative;
  display: block;
  padding: 32px 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav > li:not(:last-child) {
  margin-right: 50px;
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-color);
}

.main-nav .link.current {
  color: var(--accent-color);
}

.main-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* контакты */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  background-repeat: no-repeat;
  fill: currentColor;
  cursor: pointer;
}
.icon > .envelope {
  background-image: url("../images/sprite.svg#envelope");
}

.icon > .smartphone {
  background-image: url("../images/icons/smartphone.svg");
}

.contacts-item + .contacts-item {
  margin-left: 30px;
}

/* герой */

.hero-content {
  padding: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* преимущества */

.benefits {
  padding: 94px 0px;
  margin: auto;
}

.benefits-flex {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item:nth-child(4n) {
  margin-right: 0px;
}

.benefits-icon {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* предоставляемые услуги */

.products .container {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.products-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.products-flex {
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.products-item:nth-child(3n) {
  margin-right: 0px;
}

.products-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* команда */

.workers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.workers-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-flex {
  display: flex;
  flex-wrap: wrap;
}

.workers-item {
  width: 270px;
  margin-right: 30px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.workers-item:nth-child(4n) {
  margin-right: 0px;
}

.workers-subtitle {
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-text {
  margin-top: 10px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.workers-socials.list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.workers-socials.item {
  margin-right: 10px;
}

.workers-socials.item:nth-child(4n) {
  margin-right: 0px;
}

.workers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--primary-white-color);
}

.workers-link:hover,
.workers-link:focus {
  color: var(--primary-white-color);
  background-color: #2196f3;
}

/* клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clients-item {
  width: 170px;
  background-color: var(--primary-white-color);
}

.clients-item {
  margin-right: 30px;
}

.clients-item:nth-child(6n) {
  margin-right: 0px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: #2196f3;
}

.clients-icon {
  fill: currentColor;
  cursor: pointer;
}

/* футер */

footer {
  background-color: #2f303a;
}

.footer-flex {
  display: flex;
  padding-top: 48px;
  align-items: baseline;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

address a {
  display: block;
  margin-top: 10px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer.contacts {
  display: block;
  padding-bottom: 46px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts-link {
  margin-top: 10px;
}

/* соцсети */

.footer-join {
  display: block;
  margin-left: 69px;
}

.socials-subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.socials-item {
  margin-right: 10px;
}

.socials-item:nth-child(4n) {
  margin-right: 0px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon.footer {
  fill: var(--primary-white-color);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--primary-white-color);
  background-color: #2196f3;
}

.copyright {
  padding: 20px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* СТРАНИЦА portfolio.html */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

/* потрфолио */

.portfolio {
  padding: 94px 0px;
}

.nav-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.button {
  margin-right: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:nth-child(5n) {
  margin-right: 0px;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* примеры работ */

.examples-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.examples-item {
  width: 380px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:nth-child(3n) {
  margin-right: 0px;
}

.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.box {
  position: relative;
  overflow: hidden;
}

.examples-text {
  display: inline-flex;
  position: absolute;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:hover .examples-text,
.examples-item:focus .examples-text {
  transform: translateY(-100%);
  z-index: 3;
}

.examples-info {
  border: 1px solid #eeeeee;
  border-top: transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px 24px;
}

.examples-title {
  margin: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-subtitle {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
